body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden; /* Prevents scrolling */
}

.content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    transition: transform 0.3s ease;
    color: #fff;
}

nav ul li a:hover {
    color: #77C2FF;
    transform: translateY(-5px);
}

.logo {
    max-width: 100px;
    height: auto;
}

main {
    padding: 20px;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 26, 67, 0.75);
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 10;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    .logo {
        max-width: 80px;
    }
    main {
        padding: 10px;
    }
    footer {
        padding: 10px;
    }
}

h2, p {
    color: #fff;
}
